* {
    margin: 0px;
    padding: 0px;
}
.header {
    position: fixed;
    width: 100%;
}
  
.menu-bar {
    background-color: rgb(255, 255, 255);
}
.menu-bar .logo-name{
    margin-left: 100px;
}
.nav-link {
    font-size: 16px;
    color: #000000!important;
    font-weight: 500;
    margin-right: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar-nav {
    text-align: right;
    margin-right: 100px;
}
.menu-bar .navbar-toggler{
    padding-right: 20px;
    outline: none!important;
    border: none!important;
}
.navbar .fa {
    color: #000000!important;
    font-size: 26px;
}
.navbar .fa:hover {
    color: #311ea1 !important;
}
.nav-link:hover {
    color: #311ea1 !important;
    border-bottom: 1px solid #c9bffd;
}
.mySlides {
    display: none;
    width: 100%;
}
.footer {
    border-top: 2px solid rgb(215, 219, 223);
    
}
.infor-item {
    float: left;
    margin-top: 20px;
    margin-left: 100px;
}
.infor-item h5{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.infor-item ul li{
    list-style: none;
}
.infor-item ul li a{
    color: #000000;
}
.infor-item ul li a:hover{
    color: #311ea1;
}